Pandas

In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
labels = ['a','b','c']
my_data = [10,20,30]
arr = np.array(my_data)
dic = {'a':10, 'b':20, 'c':30}

In [4]:
pd.Series(data = my_data)

0    10
1    20
2    30
dtype: int64

In [5]:
pd.Series(data = my_data, index=labels)

a    10
b    20
c    30
dtype: int64

In [6]:
pd.Series(arr,labels)

a    10
b    20
c    30
dtype: int32

In [8]:
pd.Series(dic)

a    10
b    20
c    30
dtype: int64

In [9]:
pd.Series(data = labels)

0    a
1    b
2    c
dtype: object

In [10]:
pd.Series(data = [sum, print, len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [12]:
ser1 = pd.Series([1,2,3,4], ['Nepal', 'India','USA','China'])

In [13]:
ser1

Nepal    1
India    2
USA      3
China    4
dtype: int64

In [14]:
ser2 = pd.Series([11,2,6,9], ['Nepal','India', 'Italy','China'])

In [15]:
ser2

Nepal    11
India     2
Italy     6
China     9
dtype: int64

In [16]:
ser1['USA']

3

In [17]:
ser2['China']

9

In [18]:
ser3 = pd.Series(data = labels)

In [19]:
ser3

0    a
1    b
2    c
dtype: object

In [20]:
ser1 + ser2

China    13.0
India     4.0
Italy     NaN
Nepal    12.0
USA       NaN
dtype: float64