In [1]:
import numpy as np
import pandas as pd
from numpy import random

 Overview On Multilevel index

In [2]:
#first list
outside = ['G1','G1','G1','G2','G2','G2']
outside

['G1', 'G1', 'G1', 'G2', 'G2', 'G2']

In [3]:
#second list
inside = [1,2,3,1,2,3]
inside

[1, 2, 3, 1, 2, 3]

In [4]:
#using zip() function to make the list of tuple pairs 
multi_index = list(zip(outside,inside))
multi_index

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [5]:
#Now creating multilevel index from above list
multi_index2 = pd.MultiIndex.from_tuples(multi_index)
multi_index2

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [6]:
#now creation dataframe
df = pd.DataFrame(random.randn(6,2),multi_index2,['A','B'])

In [7]:
df

             A         B
G1 1  0.199088  0.869144
   2  1.322180  0.646538
   3 -0.403290 -0.123119
G2 1 -1.074332 -1.189722
   2 -0.903666 -0.368472
   3  0.687455 -0.685434

Calling index from the multilevel index

In [8]:
df.loc['G1']#it will return 1st index row

          A         B
1  0.199088  0.869144
2  1.322180  0.646538
3 -0.403290 -0.123119

In [9]:
df.loc['G1'].loc[1] # return index form inside deeper index

A    0.199088
B    0.869144
Name: 1, dtype: float64

Naming the index

In [10]:
df.index.names
#it will return none cause index has no names

FrozenList([None, None])

In [11]:
df.index.names = ['Groups','Numbers']
df

                       A         B
Groups Numbers
G1     1        0.199088  0.869144
       2        1.322180  0.646538
       3       -0.403290 -0.123119
G2     1       -1.074332 -1.189722
       2       -0.903666 -0.368472
       3        0.687455 -0.685434

In [12]:
#retriving the specifix index
df.loc['G2'].loc[2]['B']

-0.36847208471467

In [13]:
df.loc['G1'].loc[3]['A']

-0.4032898295550274

using xs() function (cross section) which helps to get the index value
in multilevel index easily

In [14]:
df.xs('G1')

                A         B
Numbers
1        0.199088  0.869144
2        1.322180  0.646538
3       -0.403290 -0.123119

In [15]:
df.xs(1,level = 'Numbers')

               A         B
Groups
G1      0.199088  0.869144
G2     -1.074332 -1.189722

In [16]:
#another try
df.xs(3,level='Numbers')

               A         B
Groups
G1     -0.403290 -0.123119
G2      0.687455 -0.685434